services:
  backend:
    build: ./backend
    ports:
      - 3000:3000
    depends_on:
      - mongodb

  mongodb:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes: 
      - dbdata:/data/db

volumes:
  dbdata: