body {
  background-image: radial-gradient(rgba(0, 0, 0, 0.08) 1px, transparent 1px);
  background-size: 14px 14px;
}

h1 {
  color: #212121;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divider {
  border: none;
  height: 1px;
  background-color: #020202;
  margin-top: 8px 0;
}