.blog-modal {
  max-width: 500px;
  width: 90%;
  padding: 1em;
  color: #212121; 
}

.modal-title {
  margin-bottom: 0.5em;
  color: #212121;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
}

.modal-input,
.modal-textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 0.5em;
  border: var(--border-stroke) solid var(--ink-black);
  border-radius: 0.3em;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #212121;
  background-color: #fefae8;
  font-size: 0.9em;
}

.modal-textarea {
  min-height: 120px;
  resize: vertical;
  margin-bottom: 1em;
}
